@media only screen and (max-width: 600px) {
  .App {
    font-family: 'Lexend Deca', sans-serif;
  }
  .fa {
    padding: 7px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin-right: 1%;
  }
  .fa-instagram {
    background: #125688;
    color: white;
    margin-left: 1%;
  }
  .groupOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-right: 3%;
  }
  .groupTwo{
    background: rgb(153,123,102);
    background: linear-gradient(223deg, rgba(153,123,102,1) 0%, rgba(208,140,96,1) 50%, rgba(255,166,158,1) 100%);
    opacity: 95%;
    margin-top: 3%;
  }
  .navBar{
    display:flex;
    flex-flow: row;
    font-size: 1.3rem;
    text-align: center;
  }
  .home{
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px black;
    padding: 1%;
    margin-left: 6%;
  }
  .home:hover{
    opacity: 0.7;
    color: black;
  }
  .aboutUs{
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px black;
    padding: 1%;
    margin-left: 3.7%;
  }
  .aboutUs:hover{
    opacity: 0.7;
    color: black;
  }
  .serviceMenu{
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px black;
    padding: 1%;
    margin-left: 3.7%;
  }
  .serviceMenu:hover{
    opacity: 0.7;
    color: black;
  }
  .contactPage{
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 1%;
    margin-left: 3%;
  }
  .contactPage:hover{
    opacity: 0.7;
    color: black;
  }
  .homeContent{
    display: flex;
    flex-flow: row;
  }
  .homeContent img {
    width: 50%;
  }
  .sM{
    background: rgb(153,123,102);
    background: linear-gradient(223deg, rgba(153,123,102,1) 0%, rgba(208,140,96,1) 50%, rgba(255,166,158,1) 100%);
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: 1.3rem;
    text-align: center;
  }
  .sM:hover{
    opacity: 0.7;
    color: black;
  }
  .sM img{
    width: 100%;
  }
  .homeContentTwo{
    display: flex;
    flex-flow: column;
    margin-top: 8%;
  }
  .sectionOne{
    display: flex;
    justify-content: space-evenly;
  }

 
}

